
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";
$greytext: rgb(226, 226, 226);
$greentext: rgb(1, 209, 178);

$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
	@media(min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}
@mixin tablet {
	@media(min-width: #{tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

.image {
	@include phone {
		max-width: 45%;
		float: left;
	}
}

body {
	font: {
		family: Helvetica Neue;
		weight: 300;
		color: $greytext;
	}
}
.nav {
	background-color: black;
	a {
		color: $greytext;
		padding-right: 30px;
		&:hover {
			color: $greentext;
		}
	}
	img {
		width: 100%;
	}
}

.mainbody {
	background-image: url('http://i.imgur.com/HSbrQsb.jpg');
	background-position: center center;
	repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    width: 100%;
    text-align: center;
}
$body-bg: transparent;

.stats-bar {
	margin-top: 26px;
}

.box {
	@include phone {
		.bracket-box-1 {
			margin-top: 10%;
			display: none;
		}
		.bracket-box-2 {
			margin-top: 10%;
			display: none;
		}
		.bracket-box-3 {
			margin-top: 10%;
			display: none;
		}
		.bracket-box-4 {
			margin-top: 10%;
			display: none;
		}
	}
}

.bracket-box-1, .bracket-box-2, .bracket-box-3, .bracket-box-4 {
	margin-top: 45%;
	display: none;
}

.round3Box-1, .round3Box-2 {
	margin-top: 100%;
	display: none;
}

.winnerBox {
	margin-top: 160%;
}

.method {
	font-size: 12px;
}

.hiddenElement {
	display: none;
}

.weight-button {
	margin-bottom: 6px;
}

button#round1fight1.button.is-dark, button#round1fight2.button.is-dark, button#round1fight3.button.is-dark, button#round1fight4.button.is-dark {
	margin-bottom: 18px;
}

div.columns {
	padding-top: 10px;
}

button.button.is-dark.btn {
	margin-right: -5px;
	margin-left: -5px;
}
.weight-selection {
	text-align: center;
}

span.select.1v1 {
	display: inline;
}

p.control.1v1 {
	display: inline;
}

h1.title.1v1 {
	display: inline;
}

div.field.1v1 {
	display: inline;
	background-color: red;
}